.modal {
    display: none;
    top: $paddingZero;
    left: $paddingZero;
    width: calc(100vw);
    height: 100vh;
    background-color: $bg_white;
    color: $txt_grey;
    overflow: auto;
    z-index: 999;
    text-align: justify;

    &__content {
        padding: $paddingVertical 0;

        & h1, h2 {
            margin-top: $paddingVertical;
            margin-left: $paddingHorizontal;
        }

        & p {
            padding-left: $paddingHorizontal;
            padding-right: $paddingHorizontal;
        }

        &-ul {
            margin-left: $paddingHorizontal;
        }
    }

    &__close {
        position: absolute;
        top: 20px;
        right: $paddingHorizontal;

        &-link {
            color: $txt_grey;
            font-size: 4rem;
        }
    }

    &__bg {
        &-grey {
            background-color: $bg_grey;
        }
    }

    &__image {
        &-small {
            width: 40%;
        }

        &-medium {
            width: 60%;
        }

        &-wide {
            width: 100%;
        }
    }

    &__link {
        color: $txt_common_hover;

        &:hover {
            color: $btn_border_bottom_common;
        }
    }
}