.position_fixed {
    &__top {
        top: $paddingVertical;
    }

    &__bottom {
        bottom: $paddingVertical;
    }

    &__left {
        left: $paddingHorizontal;
    }

    &__right {
        right: $paddingHorizontal;
    }
}