html, body, body * {
    font-family: 'Poppins', Verdana;
}

html, body {
    overflow: hidden;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: $txt_common;
    font-size: 1.1rem;
}

.display__none {
    display: none;
}

/* BY VARIABLES */
    .padding__zero {
        margin: 0px;
        padding: 0px;
    }