html, body, body * {
    font-family: 'Poppins', Verdana;
    color: #fff;
}

body {
    background: $almostBlack url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper {
    position: relative;
    
    & h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}