html, body, body * {
    font-family: 'Poppins', Verdana;
}

html, body {
    overflow: hidden;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

html, body, a {
    color: $txt_common;
}

a:hover {
    color: $txt_common_hover;
}

.position-fixed {
    position: fixed;
}

.display__none {
    display: none;
}

/* BY VARIABLES */
    .padding__zero {
        margin: 0px;
        padding: 0px;
    }