.logo {
    z-index: 99;

    &__image {
        &-link {
            display: block;
            font-weight: 800;
            border: 1px solid $txt_common;
            color: $txt_common;
            padding: 10px;
            border-radius: 50%;
            text-decoration: none;
            width: $logoSize;
            height: $logoSize;

            &:hover {
                border-color: $txt_common_hover;
            }
        }
    }
}