.position {
    &__absolute {
        position: absolute;
    }

    &__fixed {
        position: fixed;

        &-top {
            top: $paddingVertical;
        }

        &-bottom {
            bottom: $paddingVertical;
        }

        &-left {
            left: $paddingHorizontal;
        }

        &-right {
            right: $paddingHorizontal;
        }
    }

    &__align {
        &-left {
            text-align: left;
        }

        &-center {
            text-align: center;
        }

        &-right {
            text-align: right;
        }

        &-justify {
            text-align: justify;
        }
    }

    &__padding {
        &-normal {
            padding: $paddingVertical $paddingHorizontal;
        }

        &-vertical {
            padding: $paddingVertical 0;
        }

        &-horizontal {
            padding: 0 $paddingHorizontal;
        }
    }
}