@media only screen and (max-width: 600px) {
    .btn {
        &__portfolio {
            display: block;
            width: 2rem;
            padding: 15px;
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
    }
}