@media only screen and (max-width: 600px) {
    .large-background {
        &__content {
            position: fixed;
            transform: translateY(120px);
            width: 100%;
            height: calc(100% - 220px);
            overflow-x: hidden;
            overflow-y: scroll;
        }

        &-portfolio {
            & article {
                transform: translateY(370px);
            }
        }

        &-about {
            & article {
                transform: translateY(170px);
            }

            & .article__content {
                width: 90%;
            }
        }
    }
}